/* @import 'reset.css';
@import 'layout.css';
@import 'module.css';
@import 'state.css'; */

/* color pallete 
#4357AD
#969A97
#B9F2FF
#E4FDE1
#F1FAEE
https://coolors.co/4357ad-605b56-ffc971-e4fde1-f1faee
*/

body {
    background-color: #fdfdfd;
}

.loginerror {
    padding: 2%;
    width: 60%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.errormessage {
    animation: shake 0.35s; 
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
}