.hidden {
  display: none;
}

div.creators {
  height: 200vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 25%);
  width: 100%;
}

h2.skyperson {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  padding: 10px;
  height: 5px;
  margin-bottom: 30px;
}

div.Sky {
grid-row-start: 1;
grid-row-end: 2;
}

p.skybio {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  float: right;
  width: 40%;
  margin-top: 75px;
  margin-right: 30px;
}

p.alexbio {
  display: block;
  font-size: 18px;
  font-weight: bold;
  float: left;
  width: 40%;
  margin-top: 75px;
  margin-left: 30px;
}

p.ianbio {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  float: right;
  width: 40%;
  margin-top: 75px;
  margin-right: 30px;
}

p.jacobbio {
  display: block;
  font-size: 18px;
  font-weight: bold;
  float: left;
  width: 40%;
  margin-top: 75px;
  margin-left: 30px;
}

div.Alex {
  grid-row-start: 2;
  grid-row-end: 3;
}

div.Ian {
  grid-row-start: 3;
  grid-row-end: 4;
}

div.Jacob {
  grid-row-start: 4;
  grid-row-end: 5;
}

img.Sky {
  height: 75%;
  margin-left: 20px;
}

img.Alex {
  height: 75%;
  float: right;
  margin-right: 20px;
}

img.Ian {
  height: 75%;
  margin-left: 20px;
}

img.Jacob {
  height: 75%;
  float: right;
  margin-right: 20px;
}

h2.person {
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  padding: 10px;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
}


/* LAYOUT FOR BUILDER */
body {
  background-image: url(/images/background.png);
  background-repeat: repeat;
  background-size: 100%;
}


div.img-container {
  width: 45%;
  text-align: center;
}

div.img-container:nth-child(odd) {
float: left;
margin-left: 5%;
}

div.img-container:nth-child(even) {
  float: right;
  margin-right: 5%;
}

img.builderCards {
  max-width: 100%;
  text-align: center;
}

button.save-button {
  height: 40px;
  background-color: #736258;
  color: white;
  border-radius: 20px;
}

div.class-select {
  margin-left: 45px;
  margin-top: 100px;
}

.class-select form {
  width: 200px;
}
div.class-select a {
  float: right;
  margin: -50px 50px 0 0;
  font-size: 22px;
}

div.class-select h2 {
  margin: 10px 0px;
  font-size: 25px;
  width: 200px;
}

input.submit-button {
background-color: #736258;
color: white;
border-radius: 20px;
}

h1.home {
  margin-top: 160px;
  margin-left: 45px;
  text-align: center;
}
/* LAYOUT FOR LOGIN */

.main-login {
  position: fixed;
  height: 300px;
  text-align: center;
}

.main-login .text, .main-login .password {
  width: 230px;
  margin: 7px;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

.link {
  display: block;
  width: 80px;
  margin: 20px auto 30px;
  padding: 10px;
  text-align: center;
}

.logo img {
    max-width:100%;
    height: auto;
}

.container {
  text-align: center;
}
.link2 {
  width: 100%;
}

h1.home{
  margin-right: 45px;
  font-size: 30px;
  font-weight: bold;
}

p.home {
  margin-top: 15px;
  margin-left: 45px;
  margin-bottom: 50px;
  margin-right: 45px;
  font-size: 18px;
}

footer {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 50px auto 20px;
}

.center-align {
  text-align: center;
}

h1.deck {
  margin: 100px auto 20px;
  font-size: 25px;
}

button.create-deck {
  margin: 10px auto 0px;
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

div.user-decks {
  width: 100%;
  margin: 10px 0;
  padding: 35px 0;
}

div.user-decks a {
  text-decoration: none;
  border: 1px solid black;
  padding: 16px 20px;
  color: black;
  font-size: 25px;
  float: left;
  margin-left: 40px;
}

div.user-decks h2 {
  display: inline-block;
  margin-right: 40px;
  font-size: 24px;
  padding-top: 17px;
}

section.hidden-toggle {
  display: none;
}

section.pop-up {
  position: absolute;
  width: 85%;
  height: 50%;
  background-color: rgb(35,35,35);
  top: 175px;
  left: 7.5%;
  text-align: center;
  border-radius: 6px;
  color: white;
  margin: auto;
}

label.deck-naming {
  padding-top: 60px;
  padding-bottom: 20px;
}

label.deck-naming,
input.deck-namimg {
  display: block;
  margin: auto;
}

form.deck-form {
  text-align: center;
  margin: auto;
}

label.class-select {
  display: block;
  text-align: center;
  margin: 20px auto 0;
}
select.class-select {
  display: block;
  text-align: center;
  margin: 0 auto 0;
}

input.creator {
  text-align: center;
  padding: 7px;
  margin: 15px auto 30px;
}

label.deck-naming {
  font-size: 25px;
}

input.deck-naming {
  padding: 5px;
}

label.class-select {
  font-size: 25px;
  padding-bottom: 20px;
}

select.class-select {
  padding: 5px;
  font-size: 20px;
}

.add {
  margin: 20px 40px 0;
}

ul {
  margin: 20px 40px;
}

.float-right {
  float: right;
  margin-right: 20px;
}

.inline {
  display: inline-block;
}

.card-list-item {
  margin: 10px 0;
}

div.user-decks h2:nth-child(1) {
  float: left;
}

div.user-decks h2:nth-child(2) {
  float: right;
}

.scooch {
  margin: 100px 40px 0;
  font-size: 20px;
}

a.home-to-deck {
  margin-left: 36%;
  font-size: 20px;
}