.topnav {
    overflow: hidden;
    background-color: #3f3f3f;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: #232323;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .active {
    background-color: #232323;
    color: #F1FAEE;
  }