<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
  <%- include ../partials/nav %>
  <p>This is our Hearthstone Deck Builder using the Hearthstone API.  We get the cards and display them for you so you can create your own decks on your grind to the highest ranks of Hearthstone ladder.</p>
  <div class='creators'>
    <h2>Skylar Monahan</h2>
    <img src='../../images/Skylar.jpg'>
    <p>Skylar is a simple rogue that is grinding to hit the ranks of legend within DeltaV Code School.  Her favorite tools to use in her quest are the likes of jQuery, EJS, and many other tools.</p>
    <h2>Alexander Beeksma</h2>
    <img>
    <p></p>
    <h2>Ian Smith</h2>
    <img>
    <p></p>
    <h2>Jacob Wendt</h2>
    <img>
    <p></p>
  </div>
  <%- include ../partials/footer %>
</body>
</html>