<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
  <header>
    <%- include ../partials/nav %>
  </header>
  <section>
    BLURB ABOUT WHATEVER THIS IS CALLED
  </section>
  <section>
    <h2>About the Developers</h2>
    <section class="about-container">
      <section class="about-box">
        <img src="">
        <p>its some info about Alexander</p>
      </section>
      <section class="about-box">
        <img src="">
        <p>some info about Ian</p>
      </section>
      <section class="aboutbox">
        <img src="">
        <p>some info about jacob</p>
      </section>
      <section class="about-box">
        <img src="">
        <p>some infor about skylar</p>
      </section>
    </section>
  </section>
  <%- include ../partials/footer %>
</body>
</html>