<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
  <%- include ../partials/nav %>
  <div class='creators'>
    <div class='Sky'>
      <h2 class='skyperson'>Skylar Monahan</h2>
      <img class='Sky' src='images/Sky.png'>
      <p class='skybio'>Skylar is a simple rogue that is grinding to hit the ranks of legend within DeltaV Code School.  Her favorite tools to use in her quest are the likes of jQuery, EJS, and many other tools.</p>
    </div>
    <div class='Alex'>
      <h2 class='person'>Alexander Beeksma</h2>
      <img class='Alex' src='images/Alex.png'>
      <p class='alexbio'>Alexander, prefering not to be seen, focused primarily on database, backend and functional work for the development of HearthCraft. FOR THE HORDE!! </p>
    </div>
    <div class='Ian'>
      <h2 class='person'>Ian Smith</h2>
      <img class='Ian' src='images/Ian.png'>
      <p class='ianbio'>Skylar is a simple rogue that is grinding to hit the ranks of legend within DeltaV Code School.  Her favorite tools to use in her quest are the likes of jQuery, EJS, and many other tools.</p>
    </div>
    <div class='Jacob'>
      <h2 class='person'>Jacob Wendt</h2>
      <img class='Jacob' src='images/Ian.png'>
      <p class='jacobbio'>Jacob is a level 60 paladin of the web. Studying the art of war against the Horde of errors at DeltaV. The schools of magic I am trained in include CSS, HTML, Javascript and SQL</p>
    </div>
  </div>
  <%- include ../partials/footer %>
  <script src="./app.js"></script>
</body>
</html>