<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
      <%- include ../partials/nav %>
  <main>
    <form method="POST" action="/builder/cards">
      <select name="class">
        <option value="Neutral">Neutral</option>
        <option value="Druid">Druid</option>
        <option value="Hunter">Hunter</option>
        <option value="Mage">Mage</option>
        <option value="Paladin">Paladin</option>
        <option value="Priest">Priest</option>
        <option value="Rouge">Rouge</option>
        <option value="Shaman">Shaman</option>
        <option value="Warlock">Warlock</option>
        <option value="Warrior">Warrior</option>
      </select>
      <input type="submit">
    </form>
    <section>
      <% if(data) { %>
        <% data.forEach(card => { %>
        <img src="<%= card.img %>">
        <% }) %>
      <% } else { %>
        <p>please select a class to display cards</p>
      <% } %>
    </section>
  </main>
    <%- include ../partials/footer %>
</body>
</html>