<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
  <header>
      <%- include ../partials/nav %>
  </header>
  <main>
    <form>
      <select name="class">
        <option value="Druid">Druid</option>
        <option value="Hunter">Hunter</option>
        <option value="Mage">Mage</option>
        <option value="Paladin">Paladin</option>
        <option value="Priest">Priest</option>
        <option value="Rouge">Rouge</option>
        <option value="Shaman">Shaman</option>
        <option value="Warlock">Warlock</option>
        <option value="Warrior">Warrior</option>
        <option value="Death Knight">Death Knight</option>
        <option value="Nuetral">Nuetral</option>
      </select>
      <input type="submit">
    </form>
  </main>
    <%- include ../partials/footer %>
</body>
</html>