<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
      <%- include ../partials/nav %>
      <div>
        <form>
        <input type="text" placeholder="Enter Deck Name" name="deckname" required>
        <input type="submit" value="Create Deck">
      </form>
      </div>
      <%- include ../partials/footer %>
</body>
</html>