<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
      <%- include ../partials/nav %>
      <ul>
          <% deck.forEach(card => { %>
            <li><%= `${card.name} - ${card.quantity}` %></li>
          <% }); %>
      </ul>
      
      <%- include ../partials/footer %>
</body>
</html>