<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
      <%- include ../partials/nav %>
      <a href='/builder'>Create New Deck</a>
      <%- include ../partials/footer %>
</body>
</html>