<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <%- include ../partials/nav %>
  </header>
  <main>
    <section>
      <h1>Something has done messed up</h1>
      <p>have a good one</p>
    </section>
  </main>
</body>
</html>