<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
    <%- include ../partials/nav %>
  <main>
    <section>
      <h1>Something has done messed up</h1>
      <p>have a good one</p>
    </section>
  </main>
  <%- include ../partials/footer %>
  <script src="./app.js"></script>
</body>
</html>