<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>
<body>
        <%- include ../partials/nav %>
    <p>Spicy jalapeno bacon ipsum dolor amet ball tip ground round venison landjaeger kielbasa pig pork chop biltong jowl chicken. Cow fatback t-bone, shankle boudin pork turducken short loin buffalo rump shank alcatra prosciutto shoulder. Brisket chicken sirloin porchetta jowl bacon sausage spare ribs doner salami turducken jerky boudin prosciutto tri-tip. Doner jowl ball tip prosciutto landjaeger burgdoggen hamburger cow filet mignon beef ribs sirloin pig biltong tongue cupim. Cupim beef ribs tenderloin ribeye ham cow meatloaf t-bone flank rump drumstick.</p>
    <%- include ../partials/footer %>
</body>
</html>