<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head %>
<body>
        <%- include ../partials/nav %>
    <p>Our Hearthstone Deck Builder is for those people who want to keep track of strong decks, fun decks, and just decks that you may want to try out. If you want to create your own deck, head to the decks page from our navigation bar and choose a class and start adding cards to your deck!</p>
    <%- include ../partials/footer %>
</body>
</html>