<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>

  <section class='logo'><img src="images/logo.png" alt=""></section>

<main class='main-login'>
<div class='spacer'></div>
<form class="container" action="/home" method="POST">
    <input class=text'type="text" placeholder="Enter Username" name="uname" required>
    <input class='password'type="password" placeholder="Enter Password" name="psw" required>
    <input class='continue' type="submit" value="Login">
</form>
<% if(message) { %>
<p><%= message %></p>
<% } %>
<a class='link' href="/signUp">Create Account</a>
</main>
</body>
</html>