<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>

  <section class='logo'><img src="images/logo.png" alt=""></section>

<main class='main-login'>
  <div class='spacer'></div>
  <form class="container" action="/home" method="POST">
      <input class='text' type="text" placeholder="Enter Username" name="uname" required>
      <input class='password'type="password" placeholder="Enter Password" name="psw" required>
      <input class='input-login' type="submit" value="Login">
  </form>
  <a class='link' href="/signUp">Create Account</a>


  <div class="loginerror">
    <% if(message) { %>
      <p class="errormessage"> <%= message %> </p>
    <% } %>
  </div>
</main>
</body>
</html>